* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 2.9rem;
    background-color: rgb(56, 56, 56);
}
header .logo img {
    width: 120px;
    height: 60px;
}
.navlinks {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.navlinks a {
    color: #fff;
    font-weight: 100;
    font-size: 0.85rem;
    border-right: 2px solid #fff;
    padding-right: 1rem;
}
.navlinks a:hover {
    text-decoration: underline;
}
.home .lang {
    text-align: right;
    padding-right: 8rem;
    padding-top: 5rem;
}
.home .lang select {
    padding: 1rem;
    font-weight: 100;
    font-size: 1rem;
    border: none;
    background-color: transparent;
    color: #fff;
}

.home {
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(0deg, rgba(9, 9, 9, 0.8), rgba(9, 9, 9, 0.8)), url(./SCB\ Back.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
}
.home-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-content {
    width: 50%;
    margin-left: 4rem;
    background-color: rgb(34, 34, 34);
    opacity: 80%;
    padding: 15px;
    border-radius: 2rem;
}
.home-content h1 {
    color: #fff;
    font-weight: 100;
    font-size: rem;
    padding-top: 10px;
    padding-bottom: 25px;
}
.home-content h4 {
    color: #fff;
    font-size: 2rem;
    font-weight: 100;
    padding-bottom: 25px;
}
.home-content li  {
    color: #fff;
    font-size: 1rem;
    padding-bottom: 34px;
    display: flex;
}
.home-content .home-content-btn {
    padding: 10px 20px;
    background: linear-gradient(rgb(20, 20, 20), transparent);
    border: 2.4px solid #fff;
    border-radius: 5rem;
}
.home-content .home-content-btn  a {
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
}
.home-form {
    background: #fff;
    width: 35%;
    padding: 1.5rem;
    margin: 50px auto;
    border-radius: 1rem;
}
form {
    /* margin: 0 2rem; */
}
.form-title {
    display: grid;
    place-items: center;
    font-weight: 100;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    opacity: 70%;
}
.home-form .switch {
    display: flex;
    gap: 1.4rem;
    margin-bottom: 2rem;
}
.home-form .switch a {
    color: black;
    font-size: 1.2rem;
}
.input-group input {
    width: 100%;
    color: inherit;
    border: none;
    font-size: 0.8rem;
    padding: 15px;
    margin-bottom: 1rem;
    border-bottom: 1px solid #000;
}
.input-group .btn {
    background-color: rgb(0, 112, 240);
    border: none;
    color: #fff;
    border-radius: 2rem;
}
.home-form .recovery {
    display: grid;
}
.home-form .recovery a {
    color: black;
    padding: 5px;
    text-decoration: underline;
    opacity: 50%;
}
footer {
    background-color: #000;
    color: #fff;
    display: flex;
    padding: 15px;
    text-align: center;
    align-items: center;
}
footer p {
    list-style: circle;
}
footer button {
    padding: 8px;
    border: none;
    background-color: rgb(0, 112, 240);
    color: #fff;
    margin-left: 10px;
    border-radius: 2rem;
    cursor: pointer;
}

@media  (max-width: 455px) {
    header {
        padding: 0 8px;
    }
    .navlinks {
        gap: 0.2rem;
    }
    .navlinks a {
        font-size: 14px;
        padding-right: 0.5rem;
    }
    header .logo img {
        width: 80px;
        height: 60px;
    }
    .home-content {
        display: none;
    }
    .home-form {
        width: 90%;
    }
    footer button {
        border-radius: 0.2rem;
        padding: 15px;
    }
}
@media  (max-width: 385px) {
    .navlinks a {
        font-size: 10px;
        padding-right: 0.5rem;
    }
}

